---
layout: home
title: Get the Damn Vaccine
subtitle: Why?  Read these stories.
share-img: https://getthedamnvaccine.com/assets/img/header_red.png
share-description: Stories of people who didn't get the vaccine and lived (or died) to regret it.
url: https://getthedamnvaccine.com
---

<center>
  <video width="420" autoplay controls>
    <source src="assets/video/getthedamnvaccine.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <br />
  <small>
    <p style="margin: 0">
      From
      <a
        href="https://twitter.com/therecount/status/1423361410608902148"
        target="_blank"
      >
        The Recount
      </a>
    </p>
    {% include social-share.html %}
  </small>
  <p>
    Wondering why anyone should care if you get the vaccine?  <br/>
    <a href="/impact">Read</a> how low vaccination rates and increased hospitalizations 
    <a href="/impact">impacts everyone</a>.
  </p>
  <h3>{{ site.data.stories.size }} stories of regret:</h3>
</center>
